.questionnaire-registration {
	background-position: center center;
	background-size: cover;
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.35))
		url('assets/car.jpg') no-repeat;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;

	@media (max-width: 500px) {
		background-size: 100%;
	}

	.registration-input-container {
		margin-bottom: 1em;
	}

	.error-message {
		color: red;
		font-size: 0.6em;
		text-align: center;
		padding: 1em 0;
	}
}
