.questionnaire-questions {
	position: relative;
	height: 100vh;
	overflow: hidden;
	box-sizing: border-box;
}
.questionnaire-questions .prev-button {
	position: absolute;
	top: 1em;
}
.questionnaire-questions .prev-button:hover {
	cursor: pointer;
}
.questionnaire-questions input:focus,
.questionnaire-questions select:focus,
.questionnaire-questions textarea:focus,
.questionnaire-questions button:focus,
.questionnaire-questions a:focus {
	outline: none;
}
.questionnaire-questions .prev-button {
	left: 1em;
}
.questionnaire-questions .question {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	text-align: center;
}
.questionnaire-questions .question .fields {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	height: 100%;
	justify-content: center;
}
