.questionnaire-questions {
	position: relative;
	height: 100vh;
	overflow: hidden;
	box-sizing: border-box;

	.submit-button,
	.prev-button {
		position: absolute;
		bottom: 1em;

		&:hover {
			cursor: pointer;
		}
	}

	.submit-button {
		right: 1em;
		display: flex;
		align-items: center;
		border: 1px solid #fff;
		padding: 0.25em;
		box-sizing: border-box;
		justify-content: center;
	}

	input:focus,
	select:focus,
	textarea:focus,
	button:focus,
	a:focus {
		outline: none;
	}

	.prev-button {
		left: 1em;
	}

	.question {
		display: flex;
		flex-direction: column;
		height: 100vh;

		.fields {
			display: flex;
			width: 100%;
			flex-direction: column;
			align-items: center;
			height: 100%;
			justify-content: center;
		}
	}
}
