.app-nav {
	padding: 1rem;
	display: flex;
}

.questionnaire {
	align-items: center;
	background: #000;
	box-sizing: border-box;
	color: #fff;
	display: flex;
	flex-direction: column;
	font-size: 30px;
	height: 100vh;
	padding: 0;
	position: relative;
	width: 100vw;
}
.questionnaire > div {
	width: 100%;
}
.questionnaire .question-text {
	text-align: center;
}
.questionnaire .input-group {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.questionnaire .input-group input {
	background: transparent;
	border-bottom: 1px solid #fff;
	border: 0;
	color: #fff;
	font-family: 'Ravensara';
	font-weight: 300;
	margin-bottom: 0.5em;
	outline: none;
	padding: 0.25em;
	text-align: center;
	width: 100%;
}
.questionnaire .input-group ::placeholder {
	color: #fff;
	font-family: 'Ravensara';
}
.questionnaire .input-group input:-webkit-autofill,
.questionnaire .input-group input:-webkit-autofill:hover,
.questionnaire
	.input-group
	input:-webkit-autofill:focus
	textarea:-webkit-autofill,
.questionnaire
	.input-group
	textarea:-webkit-autofill:hover
	textarea:-webkit-autofill:focus,
.questionnaire .input-group select:-webkit-autofill,
.questionnaire .input-group select:-webkit-autofill:hover,
.questionnaire .input-group select:-webkit-autofill:focus {
	border: 0;
	border-bottom: 1px solid #fff;
	-webkit-text-fill-color: #fff;
	-webkit-box-shadow: 0 0 0px 1000px #000 inset;
	transition: background-color 5000s ease-in-out 0s;
}
.questionnaire button {
	background: none;
	border: none;
	font-weight: bold;
	color: #fff;
	font-family: 'Ravensara';
	width: 100%;
}
.questionnaire .sound-player {
	position: absolute;
	top: 1em;
	left: 50%;
	transform: translateX(-50%);
	width: 30px;
}

.admin-page,
.login-page,
.registration-page {
	font-family: 'Lato';
	font-size: initial;
}

.view-question-weighted {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	padding: 0 0.5sem;
}
.view-question-weighted:focus {
	outline: none;
}
.view-question-weighted label {
	margin-bottom: 1em;
}
.view-question-weighted .answer {
	align-self: center;
	background: transparent;
	color: #fff;
	display: block;
	font-weight: bold;
	margin-bottom: 0.5em;
	padding: 0.5em;
	width: 100%;
}
.view-question-weighted .answer:hover {
	cursor: pointer;
}
.view-question-weighted .answer.selected {
	color: yellow;
}
.view-question-weighted .answer:focus {
	outline: none;
}

.question-text-container {
	box-sizing: border-box;
	padding: 0 1em;
	position: fixed;
	top: 45%;
	transform: translateY(-50%);
	width: 100vw;
}
.question-text-container .input-group {
	margin-bottom: 1em;
}
.question-text-container [contenteditable='true']:empty::before {
	content: attr(placeholder);
}
.question-text-container input,
.question-text-container textarea,
.question-text-container [contenteditable] {
	-webkit-user-select: text;
	user-select: text;
	text-align: center;
}

.questionnaire-login {
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
		url('assets/nest.jpg') center top no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: #0e0c06;
}
@media (max-width: 500px) {
	.questionnaire-login {
		background-size: 75vh;
		background-position: center 120px;
	}
}
.questionnaire-login .input-group {
	position: relative;
}
.questionnaire-login .input-group input {
	text-align: center;
	font-family: 'Ravensara', Arial, Helvetica, sans-serif;
	line-height: 75px;
	background: transparent;
	margin-bottom: 0;
	z-index: 2;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
}
.questionnaire-login .input-group .placeholder {
	position: fixed;
	font-family: 'Northwell';
	font-size: 80px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
	opacity: 1;
}
.questionnaire-login .input-group .placeholder.focused {
	opacity: 0;
	transition: 0.1s opacity ease-in-out;
	appearance: none;
}

.questionnaire-registration {
	background-position: center center;
	background-size: cover;
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.35)),
		url('assets/car.jpg') center center no-repeat;
	display: flex;
	flex-direction: column;
	height: 100vh;
	top: 50%;
	transform: translateY(-50%);
	justify-content: center;
	position: fixed;
}
@media (max-width: 500px) {
	.questionnaire-registration {
		background-size: cover;
	}
}
.questionnaire-registration .registration-input-container {
	margin-bottom: 1em;
}
.questionnaire-registration .error-message {
	color: red;
	font-size: 0.6em;
	text-align: center;
	padding: 1em 0;
}

.questionnaire-preview {
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.15)),
		url('assets/table.jpg') center center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 0 1em;
	position: relative;
}
.questionnaire-preview .closing-section {
	bottom: 1em;
	box-sizing: border-box;
	left: 50%;
	padding: 0 1em;
	position: fixed;
	transform: translateX(-50%);
	width: 100%;
}
.questionnaire-preview .continue-button-container {
	font-size: 16px;
}
.questionnaire-preview .questionnaire-description {
	font-family: 'Northwell';
	line-height: 1.2;
	font-size: 40px;
	margin-bottom: 1em;
	padding: 0 1em;
	position: fixed;
	max-width: 960px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
@media (max-width: 500px) {
	.questionnaire-preview .questionnaire-description {
		max-width: 100%;
		width: 100%;
	}
}
.questionnaire-preview .closing-note {
	line-height: 1;
	font-size: 0.5em;
}
.questionnaire-preview .signature {
	font-family: 'Northwell';
}

.questionnaire-questions {
	position: relative;
	height: 100vh;
	overflow: hidden;
	box-sizing: border-box;
}
.questionnaire-questions .prev-button {
	position: absolute;
	top: 1em;
}
.questionnaire-questions .prev-button:hover {
	cursor: pointer;
}
.questionnaire-questions input:focus,
.questionnaire-questions select:focus,
.questionnaire-questions textarea:focus,
.questionnaire-questions button:focus,
.questionnaire-questions a:focus {
	outline: none;
}
.questionnaire-questions .prev-button {
	left: 1em;
}
.questionnaire-questions .question {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	text-align: center;
}
.questionnaire-questions .question .fields {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	height: 100%;
	justify-content: center;
}

.questionnaire-result {
	height: 100vh;
	text-align: center;
}
.questionnaire-result .result-text {
	font-family: 'Windsong';
	font-size: 38px;
	padding: 0 1em;
	position: fixed;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 100vw;
	z-index: 3;
}
.questionnaire-result .results-closing {
	bottom: 1em;
	font-size: 14px;
	left: 50%;
	line-height: 1.4em;
	padding: 1em 2em;
	position: fixed;
	transform: translateX(-50%);
	width: 100%;
}
.questionnaire-result .image-background {
	background-size: cover;
	background-position: center center;
	z-index: 0;
	opacity: 0.5;
	position: absolute;
	width: 100%;
	height: 100%;
}

#app-message {
	background: white;
	border-left: 6px solid green;
	box-sizing: border-box;
	bottom: 0;
	left: 0;
	padding: 1em;
	position: fixed;
	width: 100%;
}

@font-face {
	font-family: 'Northwell';
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/Northwell.otf') format('opentype');
	/* Super Modern Browsers */
}

@font-face {
	font-family: 'Ravensara';
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/Ravensara_sans_medium.otf') format('opentype');
	/* Super Modern Browsers */
}

@font-face {
	font-family: 'Windsong';
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/Windsong.ttf') format('truetype');
	/* Super Modern Browsers */
}

body {
	font-family: 'Ravensara', sans-serif;
	font-size: 14px;
	line-height: 1.2;
	padding: 0;
}

.admin-page {
	background-color: #000;
	background-attachment: fixed !important;
	background-size: cover !important;
	min-height: 100vh !important;
	padding: 2rem !important;
}
@media screen and (max-width: 767px) {
	.admin-page {
		padding: 1rem;
	}
}

.admin-container {
	background: rgba(220, 220, 220, 0.85);
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
	min-height: 60vh;
	border-radius: 4px;
	padding: 2rem;
}
.admin-container .router {
	padding: 2rem;
}
