//components
@import './components/organisms/Navigation/Navigation.scss';
@import './components/pages/Questionnaire/Questionnaire.scss';
@import './components/pages/Admin/Admin.scss';
@import './components/molecules/ViewQuestionWeighted/ViewQuestionWeighted.scss';
@import './components/molecules/ViewQuestionText/ViewQuestionText.scss';

@import './components/pages/QuestionnaireLogin/QuestionnaireLogin.scss';
@import './components/pages/QuestionnaireRegistration/QuestionnaireRegistration.scss';
@import './components/pages/QuestionnairePreview/QuestionnairePreview.scss';
@import './components/pages/QuestionnaireQuestions/QuestionnaireQuestions.scss';
@import './components/pages/QuestionnaireResult/QuestionnaireResult.scss';
@import './components/molecules/AppMessage/AppMessage.scss';

@font-face {
	font-family: 'Northwell';
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/Northwell.otf') format('opentype'); /* Super Modern Browsers */
}

@font-face {
	font-family: 'Ravensara';
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/Ravensara_sans_medium.otf') format('opentype'); /* Super Modern Browsers */
}

body {
	font-family: 'Ravensara', sans-serif;
	font-size: 14px;
	line-height: 1.2;
}

.admin-page {
	background-color: #000;
	background-attachment: fixed !important;
	background-size: cover !important;
	min-height: 100vh !important;
	padding: 2rem !important;

	@media screen and (max-width: 767px) {
		padding: 1rem;
	}
}

.admin-container {
	background: rgba(220, 220, 220, 0.85);
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
	min-height: 60vh;
	border-radius: 4px;
	padding: 2rem;

	.router {
		padding: 2rem;
	}
}
