.questionnaire-login {
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
		url('assets/nest.jpg') center center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.questionnaire-login .input-group {
	position: relative;
}
.questionnaire-login .input-group input {
	text-align: center;
	font-family: 'Ravensara', Arial, Helvetica, sans-serif;
	line-height: 75px;
	background: transparent;
	margin-bottom: 0;
	z-index: 2;
}
.questionnaire-login .input-group .placeholder {
	position: absolute;
	font-family: 'Northwell';
	font-size: 80px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
