.questionnaire-login {
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
		url('assets/nest.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	.input-group,
	input {
		text-align: center;
		font-family: 'Northwell';
		line-height: 60px;

		::placeholder {
			font-family: 'Northwell';
			font-size: 2em;
			color: #fff;
		}
	}
}
