.questionnaire-login {
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
		url('assets/nest.jpg') center top no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: #0e0c06;

	@media (max-width: 500px) {
		background-size: 75vh;
		background-position: center 120px;
	}

	.input-group {
		position: relative;

		input {
			text-align: center;
			font-family: 'Ravensara', Arial, Helvetica, sans-serif;
			line-height: 75px;
			background: transparent;
			margin-bottom: 0;
			z-index: 2;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100vw;
		}

		.placeholder {
			position: fixed;
			font-family: 'Northwell';
			font-size: 80px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100vw;
			opacity: 1;

			&.focused {
				opacity: 0;
				transition: 0.1s opacity ease-in-out;
				appearance: none;
			}
		}
	}
}
