.question-text-container {
	box-sizing: border-box;
	padding: 0 1em;
	position: fixed;
	top: 45%;
	transform: translateY(-50%);
	width: 100vw;
}
.question-text-container .input-group {
	margin-bottom: 1em;
}
.question-text-container [contenteditable='true']:empty::before {
	content: attr(placeholder);
}
.question-text-container input,
.question-text-container textarea,
.question-text-container [contenteditable] {
	-webkit-user-select: text;
	user-select: text;
	text-align: center;
}
