.question-text-container {
	box-sizing: border-box;
	padding: 0 1em;
	position: fixed;
	top: 45%;
	transform: translateY(-50%);
	width: 100vw;

	.input-group {
		margin-bottom: 1em;
	}

	[contenteditable='true']:empty::before {
		content: attr(placeholder);
	}

	input,
	textarea,
	[contenteditable] {
		-webkit-user-select: text;
		user-select: text;
		text-align: center;
	}
}
