.question-text-container {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	height: 100vh;

	.input-group {
		margin-bottom: 1em;
	}

	[contenteditable='true']:empty::before {
		content: attr(placeholder);
	}

	input,
	textarea,
	[contenteditable] {
		-webkit-user-select: text;
		user-select: text;
	}
}
