.question-text-container {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	height: 100vh;
}
.question-text-container form {
	display: flex;
	justify-content: center;
	align-items: center;
}
.question-text-container form input::placeholder {
	color: #fff;
	font-family: 'Ravensara';
}
