.question-text-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; }
  .question-text-container form {
    display: flex;
    justify-content: center;
    align-items: center; }
