.view-question-weighted {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	padding: 0 0.5sem;
}
.view-question-weighted:focus {
	outline: none;
}
.view-question-weighted label {
	margin-bottom: 1em;
}
.view-question-weighted .answer {
	align-self: center;
	background: transparent;
	color: #fff;
	display: block;
	font-weight: bold;
	margin-bottom: 0.5em;
	padding: 0.5em;
	width: 100%;
}
.view-question-weighted .answer:hover {
	cursor: pointer;
}
.view-question-weighted .answer.selected {
	color: yellow;
}
.view-question-weighted .answer:focus {
	outline: none;
}
