.view-question-weighted {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;

	&:focus {
		outline: none;
	}

	label {
		margin-bottom: 1em;
	}

	.answer {
		align-self: center;
		background: transparent;
		color: #fff;
		display: block;
		font-weight: bold;
		margin-bottom: 0.5em;
		padding: 0.5em;
		width: 100%;

		&:hover {
			cursor: pointer;
		}

		&.selected {
			color: yellow;
		}

		&:focus {
			outline: none;
		}
	}
}
