.view-question-weighted {
	display: flex;
	flex-direction: column;

	&:focus {
		outline: none;
	}

	label {
		margin-bottom: 1em;
	}

	.answer {
		display: block;
		align-self: center;
		padding: 0.5em;
		border: 1px solid #fff;
		color: #fff;
		width: 100%;
		margin-bottom: 0.5em;
		background: transparent;

		&:hover {
			cursor: pointer;
		}

		&.selected {
			color: yellow;
		}

		&:focus {
			outline: none;
		}
	}
}
