.questionnaire-preview {
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.15)),
		url('assets/table.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 0 1em;
}
.questionnaire-preview .closing-section {
	bottom: 3em;
	box-sizing: border-box;
	left: 0;
	padding: 0 1em;
	position: absolute;
}
.questionnaire-preview .continue-button-container {
	font-size: 16px;
}
.questionnaire-preview .questionnaire-description {
	font-family: 'Northwell';
	line-height: 1.2;
	font-size: 40px;
}
.questionnaire-preview .closing-note {
	line-height: 1;
	font-size: 0.5em;
}
.questionnaire-preview .signature {
	font-family: 'Northwell';
}
