.questionnaire-preview {
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.15)),
		url('assets/table.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 1em;

	.closing-section {
		position: absolute;
		bottom: 1em;
		left: 0;
	}

	.continue-button-container {
		font-size: 16px;
	}

	.questionnaire-description {
		font-family: 'Northwell';
		line-height: 1.2;
	}

	.closing-note {
		line-height: 1;
		font-size: 0.5em;
	}

	.signature {
		font-family: 'Northwell';
	}
}
