.questionnaire-preview {
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.15)),
		url('assets/table.jpg') center center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 0 1em;
	position: relative;

	.closing-section {
		bottom: 1em;
		box-sizing: border-box;
		left: 50%;
		padding: 0 1em;
		position: fixed;
		transform: translateX(-50%);
		width: 100%;
	}

	.continue-button-container {
		font-size: 16px;
	}

	.questionnaire-description {
		font-family: 'Northwell';
		line-height: 1.2;
		font-size: 40px;
		margin-bottom: 1em;
	}

	.closing-note {
		line-height: 1;
		font-size: 0.5em;
	}

	.signature {
		font-family: 'Northwell';
	}
}
