.questionnaire-result {
	height: 100vh;
	text-align: center;
}
.questionnaire-result .result-text {
	font-family: 'Windsong';
	font-size: 38px;
	padding: 0 1em;
	position: fixed;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 100vw;
	z-index: 3;
}
.questionnaire-result .results-closing {
	bottom: 1em;
	font-size: 14px;
	left: 50%;
	line-height: 1.4em;
	padding: 1em 2em;
	position: fixed;
	transform: translateX(-50%);
	width: 100%;
}
.questionnaire-result .image-background {
	background-size: cover;
	background-position: center center;
	z-index: 0;
	opacity: 0.5;
	position: absolute;
	width: 100%;
	height: 100%;
}
