.questionnaire-result {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-content: center;
	height: 100vh;
	text-align: center;

	.result-text {
		padding: 1em;
		z-index: 3;
	}

	.results-closing {
		font-size: 0.6em;
		line-height: 1.4em;
		padding: 1em 2em;
	}

	.image-background {
		background-size: cover;
		z-index: 0;
		opacity: 0.5;
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
