.questionnaire-result {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	height: 100vh;
	text-align: center;

	.result-text {
		font-family: 'Windsong';
		padding: 1em;
		z-index: 3;
		font-size: 40px;
	}

	.results-closing {
		bottom: 1em;
		font-size: 14px;
		left: 50%;
		line-height: 1.4em;
		padding: 1em 2em;
		position: fixed;
		transform: translateX(-50%);
	}

	.image-background {
		background-size: cover;
		background-position: center center;
		z-index: 0;
		opacity: 0.5;
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
